@import 'main';

$rowHeight: 20px;


.o-container--main form {
  margin-top: 50px;
}

.grid-form {
  div[data-row-span] {
    display: flex;
    flex-wrap: wrap;
  }

  div[data-row-span] div[data-field-span] {
    align-items: stretch;
  }
  div[data-row-span] div[data-field-span]:hover {
    background: $accentLight;
  }

  input[type=text], input[type=email], input[type=url], input[type=tel] {
    height: $rowHeight;
  }

  input[type=radio] {
    margin-left: $rowHeight;
  }

  input[type=radio]:first-of-type {
    margin-left: 0px;
  }

  label + select {
    height: $rowHeight;
    font-size: 14px;
  }

  label {
    font-size: 15px;
    vertical-align: middle;
  }

  textarea {
    max-width: 100%;
    max-height: 100%;
  }

  .disabled, .disabled:hover {
    background: $disabledArea !important;
    
    label {
       color: $disabledText !important;
    }
  }

  .disabled {
    display: none;
  }
}

.c-button--submit {
  color: $foreground;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  border: 1px solid $foreground;
  border-radius: 0px;
  width: 20vw;
  margin-top: $rowHeight;
  margin-bottom: 40px;
}

.c-button--submit:not(:disabled):hover {
  background: $foreground !important;
  color: $background !important;
}

.c-button--submit:not(:disabled):focus, .c-button--submit:not(:disabled):active {
  box-shadow: inset 0 0 0 0px;
  border-color: $foreground;
  background: $background;
  color: $foreground;
}