$background: white;
$foreground: #333333;
$accentLight: #fffded;
$accent: #cccccc;
$disabledArea: #f7f7f7;
$disabledText: #7f7f7f;
$fontStack: "Helvetica Neue", "Helvetica", "Arial", "Open Sans", sans-serif;